# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# Uploads
static/uploads/*

# YOLO Output
runs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Git
.git

# Render
*.log